@import '../mixins';

section.main {
  .row:first-child {
    padding-top: 43px;
  }

  .greeting {
    font-family: "Lora", serif;
    margin-top: 39px;
    padding-left: 18px;
    line-height: 21px;
    font-size: 18px;
    letter-spacing: 1px;
    b {
      font-weight: 700;
    }
  }

  h1 .name {
    font-size: 31.75px;
    font-family: "Lora", serif;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 1px;
    .transform(scale(1,0.9));
  }
}