.room-card-element {
  color: black;
  margin: 0 -6px 15px -6px;

  header {
    img {
      width: 100%;
    }
  }

  section.content {
    background-color: #fff;
    color: black;
    overflow: hidden;
    padding-top: 7px;

    .room-type {
      padding: 0 17px;
      margin-bottom: 17px;
      float: left;
      overflow: hidden;
      h4 {
        margin-bottom: 11px;
        font-family: "Lora", sans-serif;
        font-size: 18px;
      }
    }

    .price-item {
      position: relative;
      top: 5px;
      text-align: right;
      margin-right: 17px;
    }

    .room-type .square,
    .price-item,
    .price-item .price {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
    }
  }

  footer {
    background-color: #f9f1dc;
    padding: 9px 19px;
    padding-right: 24px;

    .property-item-element {
      display: inline-block;
      margin-right: 53px;

      &:last-child {
        margin-right: 0;
      }

      &.large-icon {
        margin-right: 21px;
      }

      span {
        font-size: 12px;
        top: -2px;
        position: relative;
      }
    }
  }
}