@import 'include/sizes.less';
@import 'include/colors.less';
@import 'include/mixins.less';
@import 'include/reset.less';
@import 'include/custom';
@import 'include/sections/sections-common';
@import 'include/sections/section-main';
@import 'include/elements/top-header';
@import 'include/elements/contacts';
@import 'include/elements/reservation-form';



.content-wrapper {
  position: relative;
  margin: 0 auto;
  font-size: 0;
  width: @large-content-width;
}

.content-wrapper .container p,
.content-wrapper .container b,
.content-wrapper .container span,
.content-wrapper .container input,
.content-wrapper .container textarea {
  font-size: 16px;
}

.menu {
  white-space: nowrap;
  list-style: none;
  height: 100%;
}
.menu > li {
  display: inline-block;
}

section .bg {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

section {
  color: white;
}

footer {
  flex: 0 0 auto;
}

body > .content {
  flex: 1 0 auto;
}

.container.container-90 {
  width: 90%;
}

.row.clear {
  clear: left;
}

.center {
  text-align: center;
}