@import '../mixins';
@import '../sizes';

section.restaurant-dessert {
	min-height: 975px;

	.content-wrapper {
		padding-top: 90px;

		.centered-title-element {
			margin-bottom: 5px;
		}
	}

	&:after {
		background-color: #eae4cf;
	}
}