@import '../mixins';

section.fitness {
  min-height: 975px;

  .content-wrapper {
    padding-top: 90px;

    .centered-title-element {
      margin-bottom: 5px;
    }
  }

  &:after {
    background-color: #eae4cf;
  }

  .more-row .detail-button-element {
    margin-top: 24px;
    margin-left: 13px;
    padding: 12px 66px;
  }
}