@import '../mixins';
@import '../sizes';

section.service {
  min-height: 1737px;

  .content-wrapper {
    padding-top: 100px;
    &:before {
      background-image: url('../img/section2-bg.jpg');
    }
  }

  .card-element .content p:first-child {
    margin-bottom: 12px!important;
  }

  &:after {
    background-color: #9e7248;
  }

  .right-content-block-element:first-child {
    margin-top: 5px;
    width: 447px;
  }

  .right-content-block-element:nth-child(2) {
    width: 400px;
    margin-bottom: 56px;
  }

  .right-content-block-element + .card-element {
    margin: 0 65px 0 39px;
  }

  .rooms-list-element > .row,
  .row.rooms-row,
  .rooms-row {
    margin-bottom: 0;
  }

  .more-row .detail-button-element {
    padding: 11px 50px;
    margin-top: 14px;
    margin-left: 8px;
  }
}

@media (min-width: @tablet-max-width) {
  .rooms-first-col {
    padding-left: 28px!important;
  }

  .centered-title-element.rooms {
    margin-top: 90px;
    margin-bottom: 15px;
  }
}