@import '../sizes';

section.header {
	& * {
		position: relative;
		z-index: 1000;
		-webkit-transform: translateZ(0);
	}
}

section.header {
	z-index: 999;
	position: fixed!important;
	width: 100%;

	& + section {
		padding-top: @top-header-height;
	}
}
