.slider-element {

  &.one-slide {
    height: 100%;
    overflow: hidden;

    img {
      height: 100%;
    }
  }

  margin-bottom: -40px;

  .indicators {
    bottom: 62px;
    z-index: 3;
    margin-left: 49px;

    .indicator-item {
      margin: 0 5px 0 4px;
      height: 6px;
      width: 6px;

      &.active {
        background-color: #b8a761;
      }
    }
  }

  .slides li .caption {
    padding: 21px 16px 21px 11px;
    color: black;
    background-color: #fff;
    top: 48.4%;
    left: 2%;
    width: 49.5%;
    height: 40.8%;

    &.top {
      top: 5%;
    }

    &.right {
      left: auto;
      right: 2%;
      margin-right: -2px;
      margin-top: 3px;
    }
  }
}