.card-element {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  background-color: #fff;
  padding-bottom: 25px;
}
.card-element header {
  background-color: #eae4cf;
  padding: 19px 20px;
  font-size: 18px;
  color: black;
  font-weight: 400;
}
.card-element header.pale {
  background-color: #f9f1dc;
}
.card-element p {
  margin-top: 10px;
  margin-left: 3px;
  line-height: 17px;
  color: black;
}
.card-element section.content {
  padding: 0 20px;
}
.card-element section.content p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.card-element section.content > p:first-child {
  margin-top: 13px;
}
.card-element section.content > p:last-child {
  margin-bottom: 0;
}
.card-element section.content em {
  font-family: "Lora", sans-serif;
  font-size: 18px;
  font-style: normal;
}
.card-element .content > ul:not(.item-list) {
  list-style-type: disc;
  padding-left: 15px;
}
.card-element .content > ul:not(.item-list) li {
  list-style-type: disc;
  font-size: 9px;
  color: black;
  line-height: 25px;
}
.card-element .content > ul:not(.item-list) li span {
  font-size: 14px;
  line-height: 18px;
  display: inline-block;
  vertical-align: top;
  margin-top: 4px;
  margin-left: 10px;
}
.card-element .item-list.three-col .item {
  background-color: #f9f1dc;
  display: inline-block;
  width: 33.33%;
  border: 2px solid #fff;
}
.card-element .item-list.three-col .item:last-child {
  border-right: 0;
}
.card-element .item-list.three-col .item p {
  margin-top: 0;
  text-align: center;
  font-size: 12px;
  line-height: 14px;
}
.card-element .item-list.three-col .item .item-icon {
  margin-top: 3px;
  background-repeat: no-repeat;
  display: inline-block;
  width: 100%;
  height: 50px;
  background-position: center;
}
.card-element .item-list.three-col + p {
  margin-top: 13px;
}
.rooms-first-col {
  position: relative;
  left: 20px;
  padding: 0px 18px;
}
.rooms-first-col .card-element {
  padding-bottom: 14px;
  margin-left: 20px;
  margin-right: -13px;
}
.rooms-first-col .card-element .content {
  padding: 0px 26px;
  margin-bottom: 63px;
}
.rooms-first-col .card-element .content ul {
  padding-left: 18px;
  margin-top: 17px;
}
.rooms-first-col .card-element .content ul li {
  line-height: 26px;
}
.rooms-first-col .card-element .content ul li span {
  line-height: 17.5px;
  margin-left: 22px;
}
