.contacts-element i {
  width: 23px;
  height: 21px;
  display: inline-block;
}
.contacts-element i.address {
  background-image: url('../img/icons/address.png');
}
.contacts-element i.phone {
  background-image: url('../img/icons/phone.png');
}
.contacts-element dt {
  clear: left;
  display: inline-block;
  float: left;
}
.contacts-element dd {
  font-family: "Open Sans", sans-serif;
  font-size: 14px!important;
  overflow: hidden;
  margin-bottom: 7px;
  padding-left: 9px;
  line-height: 17.5px;
  padding-top: 6px;
  letter-spacing: 0.25px;
}
