.elegant-card-element {
  height: 100%;
  background-color: #f9f1dc;
}
.elegant-card-element h3,
.elegant-card-element h4,
.elegant-card-element section.content {
  margin: 0 29px;
}
.elegant-card-element header {
  padding: 0 29px;
}
.elegant-card-element h3 {
  padding: 31px 0px 3px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  color: #b8a761;
}
.elegant-card-element h4 {
  padding: 18px 0 18px 0px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
}
.elegant-card-element header {
  padding-top: 18px;
  padding-bottom: 19px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  background-color: #eae4cf;
  color: black;
}
.elegant-card-element section.content {
  padding: 5px 15px 0 0;
  line-height: 17px;
}
.elegant-card-element section.content p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: black;
}
.elegant-card-element section.content p em {
  line-height: 18px;
}
.elegant-card-element section.content p.increased-margin {
  margin-top: 19px;
}
.elegant-card-element section.content em {
  font-family: "Lora", sans-serif;
  font-size: 18px;
  font-style: normal;
}
