body > footer {
  overflow: hidden;
  background-color: #110a05;
  padding-top: 30px;
  /**
  Строка со ссылками всякими
   */
}
body > footer nav {
  background-color: #110a05;
}
body > footer .logo-wrapper img.logo {
  float: left;
  position: relative;
  left: 2px;
}
body > footer .logo-wrapper .title {
  padding-top: 22px;
  color: #fff;
  position: relative;
  left: -15px;
  letter-spacing: 0.5px;
}
body > footer .logo-wrapper .title .name,
body > footer .logo-wrapper .title .type {
  width: 200px;
  display: block;
  text-align: center;
  text-transform: uppercase;
}
body > footer .logo-wrapper .title .type {
  font-size: 8px;
}
body > footer nav.scrollto-links {
  padding-top: 22px;
  margin-left: 28px;
  letter-spacing: 0.2px;
}
body > footer nav.scrollto-links a {
  padding: 0 28px;
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
}
body > footer nav.social {
  padding-top: 11px;
  padding-left: 74px;
}
body > footer nav.social i {
  display: inline-block;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  margin-right: 6.5px;
}
body > footer nav.legislation-links,
body > footer .copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #fff;
}
body > footer nav.legislation-links {
  margin-bottom: 10px;
  height: initial;
}
body > footer nav.legislation-links a:after {
  content: ' |';
}
body > footer nav.legislation-links a:last-child:after {
  display: none;
}
body > footer .row:last-child {
  margin-top: -8px;
  margin-left: -61px;
  line-height: 9px;
  letter-spacing: 0.2px;
}
