/* auth */
/* nav */
/* swiper */
/*# sourceMappingURL=sizes.css.map */
/*# sourceMappingURL=colors.css.map */
section.header {
  z-index: 999;
  position: fixed!important;
  width: 100%;
}
section.header + section {
  padding-top: 50px;
}
.header-element {
  height: 50px;
  position: relative;
  white-space: nowrap;
}
.header-element .lang-switcher {
  font-family: "Open Sans", serif;
  font-weight: 300;
  text-transform: uppercase;
  height: 50px;
  line-height: 50px;
  text-align: center;
  padding-left: 132px;
}
.header-element .lang-switcher a {
  color: white;
  font-size: 12px;
}
.header-element .header-logo {
  font-size: 0;
  overflow: hidden;
  display: inline-block;
  margin-left: 159px;
}
.header-element .header-menu {
  display: inline-block;
  background-color: #110a05;
  height: 50px;
  line-height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
}
.header-element .header-menu nav.menu {
  background: none;
  margin-left: -16px;
}
.header-element .header-menu nav.menu a {
  font-size: 14px;
  padding: 0 26.1px;
  display: inline-block;
  height: 100%;
}
.header-element .header-menu a {
  color: white;
  padding: 0 20px;
}
section.header {
  background-color: #110a05;
}
@media screen and (max-width: 992px) {
  .header-element {
    position: fixed;
    width: 100%;
    top: 0;
  }
  .header-element .hamburger-element {
    position: absolute;
    top: 9px;
    left: 15px;
  }
  .header-element > .mobile-only {
    height: 100%;
    background-color: black;
  }
  body > .content {
    padding-top: 50px;
  }
  section.header + section {
    padding-top: 0;
  }
}
@media screen and (max-width: 1440px) {
  .header-element .header-logo {
    margin-left: 0!important;
  }
}
