.property-item-element .property-icon {
  background-position: center;
  background-repeat: no-repeat;
  margin-right: 10px;
}
.property-item-element img.property-icon {
  width: auto!important;
  height: auto!important;
  background-size: auto!important;
}
.property-item-element .property-description {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
}
.property-item-element * {
  display: inline-block;
  line-height: 30px;
  vertical-align: middle;
}
