.reservation-form-element {
  margin: 39px 9px 0 11px;
  background-color: #fff;
  overflow: hidden;
}
.reservation-form-element header {
  background-color: #eae4cf;
  height: 55px;
  text-align: center;
  color: #22130a;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: 55px;
}
.reservation-form-element input[type=text] {
  display: inline-block;
  border: 1px solid #cbcbcb;
  margin-left: 10px;
  padding: 10px;
}
.reservation-form-element input[type=text]:first-child {
  margin-left: 0;
}
.reservation-form-element .content {
  padding-top: 4px;
  padding-left: 7px;
  padding-right: 5px;
  margin: 20px 10px;
}
.reservation-form-element .content .dates {
  white-space: nowrap;
}
.reservation-form-element .content .dates input[type=text] {
  height: 38px;
  width: calc(50% - 6px);
  background: url('../img/icons/dates.png') no-repeat calc(100% - 10px) 9px;
}
.reservation-form-element .content .people {
  margin-top: 10px;
}
.reservation-form-element .content .people input.select {
  height: 38px;
  width: 100%;
  background: url('../img/icons/plus.png') no-repeat calc(100% - 11px) 11px;
}
.reservation-form-element footer {
  margin: 26px 10px 10px 10px;
  padding: 0 7px 7px 8px;
}
.reservation-form-element footer .apply {
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 14px;
  width: 100%;
  border: none;
  background-color: #9c8939;
  padding: 10px;
  height: 43px;
  line-height: 26px;
}
