.right-content-block-element {
  margin-left: 42px;
  margin-bottom: 46px;
}
.right-content-block-element h3,
.right-content-block-element h2 {
  font-family: "Lora", sans-serif;
  font-size: 18px;
  margin-bottom: 12px;
}
.right-content-block-element p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 17.5px;
  letter-spacing: -0.1px;
}
