.room-card-element {
  color: black;
  margin: 0 -6px 15px -6px;
}
.room-card-element header img {
  width: 100%;
}
.room-card-element section.content {
  background-color: #fff;
  color: black;
  overflow: hidden;
  padding-top: 7px;
}
.room-card-element section.content .room-type {
  padding: 0 17px;
  margin-bottom: 17px;
  float: left;
  overflow: hidden;
}
.room-card-element section.content .room-type h4 {
  margin-bottom: 11px;
  font-family: "Lora", sans-serif;
  font-size: 18px;
}
.room-card-element section.content .price-item {
  position: relative;
  top: 5px;
  text-align: right;
  margin-right: 17px;
}
.room-card-element section.content .room-type .square,
.room-card-element section.content .price-item,
.room-card-element section.content .price-item .price {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}
.room-card-element footer {
  background-color: #f9f1dc;
  padding: 9px 19px;
  padding-right: 24px;
}
.room-card-element footer .property-item-element {
  display: inline-block;
  margin-right: 53px;
}
.room-card-element footer .property-item-element:last-child {
  margin-right: 0;
}
.room-card-element footer .property-item-element.large-icon {
  margin-right: 21px;
}
.room-card-element footer .property-item-element span {
  font-size: 12px;
  top: -2px;
  position: relative;
}
