section.events {
  min-height: 943px;
}
section.events .content-wrapper {
  padding-top: 83px;
}
section.events:after {
  background-color: #fff;
}
section.events .row:first-child {
  margin-bottom: 30px;
}
section.events .more-row .detail-button-element {
  padding: 11px 66px;
  margin-top: 13px;
  margin-left: 15px;
}
