/* auth */
/* nav */
/* swiper */
/*# sourceMappingURL=sizes.css.map */
section.service {
  min-height: 1737px;
}
section.service .content-wrapper {
  padding-top: 100px;
}
section.service .content-wrapper:before {
  background-image: url('/img/section2-bg.jpg');
}
section.service .card-element .content p:first-child {
  margin-bottom: 12px!important;
}
section.service:after {
  background-color: #9e7248;
}
section.service .right-content-block-element:first-child {
  margin-top: 5px;
  width: 447px;
}
section.service .right-content-block-element:nth-child(2) {
  width: 400px;
  margin-bottom: 56px;
}
section.service .right-content-block-element + .card-element {
  margin: 0 65px 0 39px;
}
section.service .rooms-list-element > .row,
section.service .row.rooms-row,
section.service .rooms-row {
  margin-bottom: 0;
}
section.service .more-row .detail-button-element {
  padding: 11px 50px;
  margin-top: 14px;
  margin-left: 8px;
}
@media (min-width: 1021px) {
  .rooms-first-col {
    padding-left: 28px!important;
  }
  .centered-title-element.rooms {
    margin-top: 90px;
    margin-bottom: 15px;
  }
}
