section.map {
  background-color: #fff;
}
section.map > .content-wrapper {
  padding-top: 43px;
}
section.map > .content-wrapper .centered-title-element {
  margin-left: 7px;
  margin-bottom: 21px;
}
section.map h2 {
  background-color: #fff;
  text-align: center;
  color: black;
  padding-top: 30px;
  padding-bottom: 10px;
}
section.map .container {
  overflow: initial!important;
}
