section.fitness {
  min-height: 975px;
}
section.fitness .content-wrapper {
  padding-top: 90px;
}
section.fitness .content-wrapper .centered-title-element {
  margin-bottom: 5px;
}
section.fitness:after {
  background-color: #eae4cf;
}
section.fitness .more-row .detail-button-element {
  margin-top: 24px;
  margin-left: 13px;
  padding: 12px 66px;
}
